@use '../abstracts/mixins' as *;

.filters {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem 1.5rem;
  margin-top: 1rem;

  @include respond-to('mobile') {
    flex-wrap: wrap;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__label {
    font-size: var(--font-size-sm);
    font-weight: 500;
    color: var(--card-foreground);
  }
}