@use '../../abstracts/mixins' as *;

.dialog {
  &__overlay {
    position: fixed;
    inset: 0;
    z-index: 50;
    background-color: oklch(0 0 0 / 50%);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
  }

  &__content {
    background-color: var(--background);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    display: grid;
    width: 100%;
    max-width: 46rem;
    transform: translateY(-50%) translateX(-50%);
    gap: 1.25rem;
    border-radius: var(--radius-lg);
    border: 1px solid var(--border);
    padding: 1.875rem;

    @include respond-to('mobile') {
      max-width: calc(100dvw - 3rem);
    }

    &-close {
      background: transparent;
      position: absolute;
      top: 1.25rem;
      right: 1.25rem;
      border: var(--border-input);
      border-radius: var(--radius-sm);
      opacity: 0.7;
      transition: opacity var(--transition-fast);
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__title {
    font-size: var(--font-size-lg);
    line-height: 1;
    font-weight: 600;
    color: var(--card-foreground);
  }

  &__description {
    font-size: var(--font-size-sm);
  }

  &__footer {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
  }
}