@use '../abstracts/mixins' as *;

.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 46rem;
  padding-top: 1.688rem;

  margin: 0 auto;

  position: relative;

  @include respond-to('mobile') {
    padding: 1.5rem;
    margin: 0;
    max-width: 100%;
    gap: 2rem;
  }

  &__tasks {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 4rem;
  }
}

span.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0; 

}